
@{
    ViewBag.Title = "Editar";
}
    <h3 class="text-center mb-3 mt-3 text-info">Edição de Clientes</h3>
    <form action="/cliente/update/" method="post">
        <input type="hidden" name="id" value="@ViewBag.Cliente.Id" />
        <div>
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" id="campo-nome" value="@ViewBag.Cliente.Nome" />
        </div>
        <div>
            <select name="cidade">
                <option disabled="disabled" selected="selected">Selecione uma cidade</option>
                @foreach (Model.Cidade cidade in ViewBag.Cidades)
                {
                    if (cidade.Id == ViewBag.Cliente.IdCidade)
                    {
                        <option value="@cidade.Id" selected="selected">@cidade.Nome</option>
                    }
                    else
                    {
                        <option value="@cidade.Id">@cidade.Nome</option>
                    }
                }
            </select>
        </div>
        <div>
            <label for="campo-cpf">CPF</label>
            <input type="text" name="cpf" id="campo-cpf" value="@ViewBag.Cliente.Cpf" />
        </div>
        <div>
            <label for="campo-cpf">Data de Nascimento</label>
            <input type="datetime-local" name="nascimento" id="campo-nascimento" value="@ViewBag.Cliente.DataNascimento" />
        </div>
        <div>
            <label for="campo-numero">Número</label>
            <input type="text" name="numero" id="campo-numero" value="@ViewBag.Cliente.Numero" />
        </div>
        <div>
            <label for="campo-complemento">Complemento</label>
            <input type="text" name="complemento" id="campo-complemento" value="@ViewBag.Cliente.Complemento" />
        </div>
        <div>
            <label for="campo-logradouro">Logradouro</label>
            <input type="text" name="logradouro" id="campo-logradouro" value="@ViewBag.Cliente.Logradouro" />
        </div>
        <div>
            <label for="campo-cep">CEP</label>
            <input type="text" name="cep" id="campo-cep" value="@ViewBag.Cliente.CEP" />
        </div>

        <button type="submit">Salvar</button>
    </form>



